# Question 1

In [1]:
a=input("Enter the email address:")
b=a.find('@')
c=a.find('.')
print(a[b+1:c])

Enter the email address:john@google.com
google

# Question 2

In [2]:
str1=input("Enter the words:")
str2=str1.split(',')
str2=sorted(str2)
num=len(str2)
for i in str2:
    if(str2[num-1]==i):
        print(i)
    else:
        print(i,end=",")

Enter the words:without,hello,bag,world
bag,hello,without,world

# Question 3

# Sets :
        A Set is a collection of unordered and unindexed which are written in curly brackets.

## To create a Set :
        place the items seperated by commas in curly brackets as shown below
        fruits={"apple","grapes","mango"}

In [3]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

# Note :
        Sets are unordered so you cannot be sure in which order the items may appear when we print the set.

## To Access the Items in Set :
        To accesss the items in set we cannot do by referring to index or key.we have to use loop if specified value present in a set ,by using the "in" keyword.

In [4]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

## Change Items :
        1)To add one item to set we can use add() method
        2)To add more than one items in set we use update() method

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [6]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'mango', 'grapes', 'cherry', 'orange', 'banana', 'apple'}

# Note :
        Once a set created we cannot change items but only we add Items.

## Get the Length of a Set :
        To determine how many items a set has use the len() method to get 
    the length of the set.

In [7]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

## Remove Item :
        To remove an item in a set use the remove() or discard() method.

In [8]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

# <u>Note</u> :
        If the item to remove does not exist remove() will raise an error

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

# <u>Note</u> :
        If the item to remove does not exist discard() will NOT raise an    error

           You can also use pop() method to remove an itembut in this method will remove the last item.
           The return value of the pop() method is the removed item.

In [10]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

## Note :
        Sets are unordered, so when using the pop() method,
    you will not know which item that gets removed.

## Empty and Delete the Sets :
        The clear() method empties the set

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

    The del keyword will delete the set completely

In [12]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

## Join two sets :
        There are several ways to join two or more sets in python the most 
    commonly used methods are :
            1)union()
            2)update()
        The union() method returns a new set with all items from both sets

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{'a', 'c', 1, 2, 3, 'b'}

    The update() method inserts the items in set2 into set1

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{'a', 'c', 1, 2, 3, 'b'}

# Note :
        Both union() and update() will exculde any duplicate items.

## The set constructor :
        It is also possible to use the set() constructor to make a set.

In [15]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# Question 4

In [16]:
list1=input("Enter the Numbers:")
list2=list1.split(" ")
list2.sort()
for i in range(0,len(list2)):
    list2[i]=int(list2[i])
min=list2[0]
count=0
for i in list2:
    if(i==min+count):
        count=count+1
    else:
        missing=min+count
print(missing)

Enter the Numbers:1 2 4 5 3 7
6

# Question 5

In [17]:
x=input("Enter the numbers")
y=x.split(" ")
for i in range(0,len(y)):
    y[i]=int(y[i])
print(y)
z=[]
for i in y:
    if i not in z:
        z.append(i)
z.sort()
print(z)

Enter the numbers12 24 35 44 35 66 55 93 93 35
[12, 24, 35, 44, 35, 66, 55, 93, 93, 35]
[12, 24, 35, 44, 55, 66, 93]